body {
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.topbar {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
    overflow: hidden;
}

.img-text {
    color: lightskyblue;
    text-shadow: 2px 2px 4px darkblue;
    margin: 1%;
    font-size: calc(120px + 0.5vw);
    border-style: none none solid;
}

h1 {
    font-size: calc(100px + 0.5vw);
    font-family: serif;
}

#bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.bingo-cell {
    max-width: 180px;
    width: 10vw;
    background-size: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    border-radius: 25%;
    border-style: solid;
    border-color: lightskyblue;
}

.bingo-text {
    width: auto;
    height: auto;
    max-width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px 1px lightskyblue;
    cursor: pointer;
    padding: 4px;
    font-size: clamp(10px, 1.5vw, 30px);
}

.bingo-cell:hover {
    transform: scale(1.1);
}

.bingo-cell-marked {
    background-image: url("../images/steto2.png");
    
}

@media (max-width: 768px) {
    body {
        background-image: url("../images/hospital-mobile.png");
    }
    
    .topbar {
        width: 100%;
        height: 20%;
        text-align: center;
        font-family: 'Franklin Gothic Medium';
    }

    .img-text, .img-shadow {
        font-size: 60px;
    }

    .bingo-card {
        min-width: 300px;
    }

    .bingo-cell {
        min-width: 50px;
    }

    .bingo-text {
        font-size: 11px;
        max-width: fit-content;
    }

}